.cover__subtitle {
  margin: 0;
  max-width: 360px;
  text-align: center;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    line-height: 1.15;
    font-size: 14px;
  }
}
